body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: black;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 200%;
}

h2 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
button{
    border-radius: 10px;
    border-color: blue;
    background-color: goldenrod;
    color:black;
    width: 500px;
    font-weight: bold;
    border: none;
    block-size: none;
    margin:1%
}